.dx-datagrid .dx-column-lines > td {
    border-left: none !important;
    border-right: none !important;
    
  }
.dx-pager .dx-pages .dx-selection, .dx-pager .dx-page-sizes .dx-selection {
    font-weight: 500;
    background-color: #03A9F4 !important;
    color: #fff;
}

.dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td{
    border-bottom: 1px solid #e0e0e0 !important;
}
.dx-datagrid .dx-row > td {
    padding-top: 11px;
    padding-bottom: 11px;
}
.dx-datagrid-nowrap .dx-header-row > td > .dx-datagrid-text-content {
    font-weight: bold;
    color: #060606;}

    .dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer {
        border-left: none;
        border-right: none;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: none; 

    }

    .dx-datagrid-borders > .dx-datagrid-pager, .dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-filter-panel {
        border-top: none;
    }


    .dx-toolbar-after .dx-toolbar-item:first-child {
        left: 0;
    }
    .dx-toolbar-after {
        left: 0; 
    }
    .dx-datagrid-borders > .dx-datagrid-headers{
        padding-right: 20px !important;
    }

    .dx-datagrid {
        top: 12px;
    }

    .dx-popup-wrapper > .dx-overlay-content{
        width: 400px !important;
        height: 400px !important;
    }
    .dx-datagrid-borders > .dx-datagrid-filter-panel {
        border-top-width: 0;
        border-left: none;
        border-right: none;
    }
    .dx-toolbar-label .dx-toolbar-item-content > div{
        display: none !important;
    }

    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: none !important;
    }

    .dx-popup-wrapper > .dx-overlay-content{
        transform: translate(715px, 5px) !important;
    }